title: Autographer
pri_colour: #fff
sec_colour: #fdc319
thumbnail: /static/images/autographer/thumbnail.jpg
full: /static/images/autographer/full.jpg
tags: Image
date: 3-1-2015

{% extends "post.html" %}

{% block head %}
<meta name="description" content="Autographer for iOS">
<meta name="keywords" content="iOS,Objective-C,Bluetooth,Photography,CoreLocation,CoreData">
{% endblock head %}

{% block body %}
{% filter markdown %}

First to market with an intelligent, wearable camera, OMG Life asked me to build a companion app for [Autographer](http://www.autographer.com).

The experience offered by the application is determined by its ablity to communicate with the Autographer seamlessly. To that end, considerable effort was spent creating a robust framework on which the application rests. This communication framework (based on [Bluetooth](https://developer.apple.com/bluetooth/)) was designed from the ground-up alongside OMG Life engineers, ensuring each aspect was properly documented and tested.

One of my favourite aspects of the Autographer app is the ability to create a video or GIF of images mixed with your favourite music in a custom editor. The images, each with location and sensor data, are transferred on-demand from the accessory via Bluetooth.


{% endfilter %}
{% endblock body %}
