title: Curator
pri_colour: #fff
sec_colour: #ffeb56
thumbnail: /static/images/curator/thumbnail.jpg
full: /static/images/curator/full.jpg
tags: Core Data, Core Graphics, Core Animation
date: 7-1-2015

{% extends "post.html" %}

{% block head %}
  <meta name="description" content="Curator – Visual Notes">
  <meta name="keywords" content="iOS,Objective-C,iPad,CoreData">
{% endblock head %}

{% block body %}
{% filter markdown %}

[Curator](http://www.curator.co) is a fast and visual tool for collecting, organising and presenting your ideas. Originally made for use on iPad, I worked with the team to create a universal application for iOS 8 that supports iPhone and iPad in both portrait and landscape orientations.

Users can move seamlessly from working on iPad to presenting on iPhone by way of a custom sync solution built for Curator.

Curator was featured by Apple in "Best New Apps" in June 2015.

{% endfilter %}
{% endblock body %}
