title: Curator
pri_colour: #fff
sec_colour: #ffeb56
thumbnail: /static/images/curator/thumbnail.jpg
full: /static/images/curator/full.jpg
tags: Core Data, Core Graphics, Core Animation
date: 7-1-2015

{% extends "post.html" %}

{% block head %}
<meta name="description" content="Curator – Visual Notes">
<meta name="keywords" content="iOS,Objective-C,iPad,CoreData">
{% endblock head %}

{% block body %}
{% filter markdown %}

Featured by Apple, [Curator](http://curator.co) is _the_ way to collect, organise and present your ideas. Originally available only on iPad and in portrait, I worked with the team to release a universal application for iOS 8.0 that supports iPhone and iPad in both portrait and landscape orientations.

To keep data in sync across devices, I designed and implemented a solution that allows users to pick up where they left off on each device.

{% endfilter %}
{% endblock body %}
