title: Dattch
pri_colour: #fff
sec_colour: #f16763
thumbnail: /static/images/dattch/thumbnail.jpg
full: /static/images/dattch/full.jpg
tags: Image
date: 4-1-2015

{% extends "post.html" %}

{% block head %}
<meta name="description" content="Dattch dating for iOS">
<meta name="keywords" content="iOS,Objective-C,TestFlight">
{% endblock head %}

{% block body %}
{% filter markdown %}

[Dattch](http://dattch.com) is a social networking app for lesbian, bisexual and bicurious women. It has been featured in Wired, the Guardian, Telegraph, TechCrunch and The Next Web. I worked with Robyn to develop the initial beta of Dattch for early-adopters and to publish on the App Store in 2012.

{% endfilter %}
{% endblock body %}
