title: Gradient
pri_colour: #fff
sec_colour: #000
thumbnail: /static/images/gradient/thumbnail.jpg
full: /static/images/gradient/full.jpg
tags: Swift, Core Graphics, Core Animation
date: 6-1-2015

<meta name="apple-itunes-app" content="app-id=786219026, affiliate-data=10lHPc">

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Gradient, an [open-source](https://github.com/alexanderedge/SwiftGradients) collaboration with [Nitzan Hermon](http://byed.it), is an easy way to create full-screen gradient wallpapers for your iOS device. Gradient uses Core Graphics to render smooth gradients between two, random colours. Each gradient supports pan, rotation and zoom to create the perfect blend.

Save a gradient to your Photo Library by tapping the screen. Shake the device to generate a new gradient.

The latest version of Gradient is written in Swift. The original, Objective-C version is also available on [GitHub](http://github.com/alexanderedge/Gradient).

{% endfilter %}
{% endblock body %}
