title: Peeps
pri_colour: #fff
sec_colour: #4a8fe2
thumbnail: /static/images/peeps/thumbnail.jpg
full: /static/images/peeps/full.jpg
tags: Swift, Core Data, Core Animation, Core Graphics, AVFoundation, RestKit, AFNetworking
date: 8-1-2015

<meta name="apple-itunes-app" content="app-id=881444366, affiliate-data=10lHPc">

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

[Peeps](http://www.peeps.im) lets you create selfie video chats with groups of friends. [Tom Cavill](https://twitter.com/tomcavill) and I released Peeps in July 2014, since then it has been featured by Apple and as App of the Week in ShortList magazine.

I developed both the iOS and server components of Peeps employing, among many other technologies, push notifications, third-party SMS integration, phone number verification, video compression and iOS 8.0 animation APIs.

To date, approximately 30% of the iOS app is written in Swift.

Peeps is available for free on the [App Store](https://itunes.apple.com/gb/app/peeps/id881444366?mt=8&uo=4&ct=portfolio).

{% endfilter %}
{% endblock body %}
