title: Steer
pri_colour: #fff
sec_colour: #ff341a
thumbnail: /static/images/steer/thumbnail.jpg
full: /static/images/steer/teaching.jpg
tags: Teaching
date: 5-1-2015

{% extends "post.html" %}

{% block head %}
  <meta name="description" content="Classroom-based iOS training courses in London">
  <meta name="keywords" content="iOS,Objective-C,Teaching">
{% endblock head %}

{% block body %}
{% filter markdown %}

[Steer](http://www.steer.me) has a reputation for delivering first-class web development on-site training courses in London, so I was thrilled when they asked me to write and teach a syllabus for iOS development suitable for beginners.

I took three classes of up to ten students on a week-long journey, beginning with programming fundamentals and culminating in each writing an image sharing app from scratch.

{% endfilter %}
{% endblock body %}
