title: Stream Magic
pri_colour: #fff
sec_colour: #012F6B
thumbnail: /static/images/stream-magic/thumbnail.jpg
full: /static/images/stream-magic/full.jpg
tags: Image
date: 2-1-2015

{% extends "post.html" %}

{% block head %}
<meta name="description" content="Cambridge Audio Hi-Fi controller for iOS">
<meta name="keywords" content="iOS,Objective-C,SOAP,UPnP">
{% endblock head %}

{% block body %}
{% filter markdown %}

Designed to be used as a wireless control device for the [Cambridge Audio](http://www.cambridgeaudio.com) NP30, Stream Magic and Minx Xi music systems, Stream Magic is a native, universal (iPod, iPhone and iPad) iOS application featuring radio stations from around the world, music library browsing, track queueing and album art.

The app is uses UPnP, delivering device discovery, control and playback of media wirelessly around the home. The development of Stream Magic required in-depth knowledge of TCP/IP, HTTP, XML and SOAP, along with the fundamentals required for creating an intuitive experience on mobile devices.

{% endfilter %}
{% endblock body %}
