{% extends "base.html" %}
{% block content %}

	<section id="profile">
    <header id="profile-header">
      <img id="profile-avatar" class="2x" src="{% static '/images/avatar.jpg' %}"/>
      <div id="profile-info">
      <h1>Alexander Edge</h1>
      <ul id="social">
        <li><a class="icon-twitter" href="https://twitter.com/alexedge"><span class="hidden">Twitter</span></a></li>
        <li><a class="icon-linkedin" href="https://uk.linkedin.com/in/alexanderedge"><span class="hidden">LinkedIn</span></a></li>
        <li><a class="icon-stackoverflow" href="https://stackoverflow.com/users/755835/alexander"><span class="hidden">StackOverflow</span></a></li>
        <li><a class="icon-github" href="https://github.com/alexanderedge"><span class="hidden">GitHub</span></a></li>
      </ul>
      </div>
    </header>
    <div id="profile-text">
    <p>I am an iOS developer with five years' experience creating apps for iPhone, iPad and iPod Touch. I have led engineering efforts for clients ranging from <a href="{% url '/projects/dattch.html' %}">location-based dating</a> to <a href="{% url '/projects/autographer.html' %}">wearable tech</a>, along with writing and delivering <a href="{% url '/projects/steer.html' %}">iOS training courses</a> here in London.</p>

        <p>My most recent app, <a href="{% url '/projects/peeps.html' %}">Peeps</a>, is available to download for free on the <a href="https://itunes.apple.com/gb/app/peeps/id881444366?mt=8&uo=4&ct=portfolio">App Store</a>. I am currently <a href="http://www.wareable.com/apple-watch/best-apple-watch-apps-832">experimenting</a> with Watch.</p>

        <p>I am <a href="mailto:alex@alexedge.co.uk?subject=I would like to work with you">available for hire</a>.</p>
        </div>
  </section>

  <section id="thumbnails" class="clearfix">

		{% for project in projects %}
        <a href='{% url project.path %}'>
          <img class="2x" width="300" height="300" src="{% static project.thumbnail %}"/>
          <span>{{ projects.title }}</span>
        </a>
    {% endfor %}

	</section>

{% endblock content %}
