{% extends "base.html" %}

{% block head %}
<meta name="description" content="Freelance iOS developer based in London">
<meta name="keywords" content="iOS,Swift,Objective-C">
{% endblock head %}

{% block content %}

	<section id="profile">
    <header id="profile-header">
      <img id="profile-avatar" class="2x" src="{% static '/images/avatar.jpg' %}"/>
      <div id="profile-info">
      <h1>Alexander Edge</h1>
      <ul id="social">
        <li><a class="icon-envelop" href="mailto:alex+portfolio@alexedge.co.uk?subject=Enquiry"><span class="hidden">Email</span></a></li>
        <li><a class="icon-twitter" href="https://twitter.com/alexedge"><span class="hidden">Twitter</span></a></li>
        <li><a class="icon-stackoverflow" href="https://stackoverflow.com/users/755835/alexander"><span class="hidden">StackOverflow</span></a></li>
        <li><a class="icon-github" href="https://github.com/alexanderedge"><span class="hidden">GitHub</span></a></li>
      </ul>
      </div>
    </header>
    <div id="profile-text">
      <p>I have led engineering efforts on a variety of iPhone and iPad applications including <a href="{% url '/projects/peeps.html' %}">video messaging</a>, <a href="{% url '/projects/dattch.html' %}">location-based dating</a>, and <a href="{% url '/projects/autographer.html' %}">wearable tech</a>. I am a confident public speaker, having written and delivered multiple <a href="{% url '/projects/steer.html' %}">iOS training courses</a> in London.</p>
      <p>If you need assistance with an existing app or are considering starting something new, <a href="mailto:alex+portfolio@alexedge.co.uk?subject=Enquiry">get in touch</a>.</p>
    </div>
  </section>

  <section id="thumbnails" class="clearfix">

		{% for project in projects %}
        <a href='{% url project.path %}'>
          <img class="2x" width="300" height="300" src="{% static project.thumbnail %}" alt="{{project.title}}" title="{{project.title}}"/>
        </a>
    {% endfor %}

	</section>

{% endblock content %}
